{% extends "masterpage.html" %}

{% block title %}
     aboutus
{% endblock title %}
{% block body %}<br><br>
<center>
     
<h1 style="color: orange;">About US...</h1><br><br>
<p> The Vk Academy goal <b>Top rated IT Training Class in pune.</b><br>
It's <b>Java , Selenium, Python, MERN Stact , .Net Courses..</b>
<br>and The Vk Academy is<b><u>100% job Placement Support.</u></b></p>

<p>
     <b><u>History:-</u></b>
     This Academy is most popular IT Training courses in Pune.<br>
     software industry offers High-Paying Job for the most demanding IT courses.
     <b> Java, Selenium, Python, Aws, Azure Salesforce.</b><br>
       <b><u>Services</u></b> This Academy services provided is 100% Job Placement Support.!<br>
     <b>Smart Classroom.!</b>


</p></center>
{% endblock body %}