{% extends "masterpage.html" %}

{% block title %}
     aws
{% endblock title %}
{% block body %}
<div class="card bg-dark text-white">
     <img  style="opacity: 0.5;"card-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLAPvwm4en9sgL00Rj545988ToMIZ6WMt-jQ&s" alt="Card image" width="100%">
 <div class="card-img-overlay">
     <h1 style="color: orange;">Aws Information...</h1>
     <p>
          <b>Amazon Web Services (AWS)</b> is a leading top platform in providing the web services of various domains. AWS follows the trends of digital IT and comes up needy services with optimized performances covering a wide range of services from Compute to Storage. It covers a wider range of customers of different domains to expand their business operations. This Article covers the fundamentals of AWS and its scope of IT business.<br>
          <b>What Is AWS And Why Is It Used?</b><br>
          AWS stands for Amazon Web Services, It is an expanded cloud computing platform provided by Amazon Company. AWS provides a wide range of services with a pay-as-per-use pricing model over the Internet such as Storage, Computing power, Databases, Machine Learning services, and much more. AWS facilitates for both businesses and individual users with effectively hosting the applications, storing the data securely, and making use of a wide variety of tools and services improving management flexibility for IT resources.<br>
          <b>History Of AWS</b><br>
          Then providing Simple Storage Service (Amazon S3) revolutionized with scalable management of Storage. Coming up with effective compute and storage services and providing them rental basis helped many startup companies and users with the cost of manual Hardware Infrasture setup. Introducing the concept of serverless computing with AWS lambda services enhanced its business globally. It came up with services like Elastic Beanstalk made the deployment of applications much easier bringing large audiences. AWS always came with diverse array of services offering with technical innovations, updated services with current trends. AWS has emerged as a powerhouse in the world of Cloud Computing.<br>
          <b>How AWS Works?</b><br>
          AWS comes up with its own network infrastructure on establishing the datacenters in different regions mostly all over the world. Its global Infrastructure acts as a backbone for operations and services provided by AWS. It facilitates the users on creating secure environments using Amazon VPCs ( Virtual Private Clouds ). Essential services like Amazon EC2 and Amazon S3 for utilizing the compute and storage service with elastic scaling. It supports the dynamic scaling of the applications with the services such as Auto Scaling and Elastic Load Balancing ( AWS ELB ). It provides a good user-friendly AWS Management Console facilitating seamless configuration and management of AWS services to the Users. Its Architecture ensures high availability , fault tolerance making AWS as a versatile powerful Cloud Computing Platform.<br>
          <b>Top AWS Services</b><br>
          In the rapid revolution of Cloud Computing, AWS facilitates with wide variety of services respect to the fields and needs. The following are the top AWS services that are in wide usage:<br>

<b>Amazon EC2(Elastic Compute Cloud) </b>: It provides the Scalable computing power via cloud allowing the users to run applications and manage the workloads over their remotely.
Amazon S3 (Simple Storage Service ): It offers scalable object Storage as a Service with high durability for storing and retrieving any amount of data.
AWS Lambda: It is a service in Serverless Architecture with Function as a Service facilitating serverless computing i.e., running the code on response to the events, the background environment management of servers is handled by aws automatically. It helps the developers to completely focus on the logic of code build.<br>
<b>Amazon RDS (Relational Database Service):</b> This is an aws service that simplifies the management of database providing high available relational databases in the cloud.<br>
<b>Amazon VPC (Virtual Private Cloud):</b> It enables the users to create isolated networks with option of public and private expose within the AWS cloud, providing safe and adaptable configurations of their resources.

     </p>
     {% endblock body %}