{% extends "masterpage.html" %}

{% block title %}
     java
{% endblock title %}

{% block body %}
<div class="card bg-dark text-white">
     <img  style="opacity: 0.5;"card-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLAPvwm4en9sgL00Rj545988ToMIZ6WMt-jQ&s" alt="Card image" width="100%">
     <div class="card-img-overlay">
          <h1 style="color: orange;">JAVA Information...</h1>
          <p class="card-text"><b>What is JAVA?</b><br>
    Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language.

Java was developed by <b><u>Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995.</b></u>
 James Gosling is known as the father of Java. <b><u>Before Java, its name was Oak.</b></u> Since Oak was already a registered company, so<b><u> James Gosling and his team changed the name from Oak to Java.</b></u>
 


Getting Started
Before diving into coding, we will need to set up your development environment. Java development typically requires the <b>Java Development Kit (JDK),</b> which includes the Java compiler and other essential tools. You can download the JDK from the official Oracle website and follow the installation instructions for your operating system.
Advertisement

Once we have the JDK installed, you can use a text editor or an <b>Integrated Development Environment </b>(IDE) like IntelliJ IDEA, Eclipse, or NetBeans to write and run your Java code. IDEs provide features such as code completion, debugging, and project management, making them invaluable tools for developers.
<br>

<b>Java Example</b>
Let's have a quick look at Java programming example. A detailed description of Hello Java example is available in next page.<br>

Simple.java
<br><b>
class Simple{  <br>
    public static void main(String args[]){  <br>
     System.out.println("Hello Java"); <br> 
    } <br> 
}  </b>



      </p>
     </div>
{% endblock body %}