{% extends "masterpage.html" %}

{% block title %}
placement
{% endblock title %}
{% block body %}
<center>
    <h2 style="font-family:sans-serif; color: navy;background-color:lavenderblush;padding: 10px; font-weight: 200;">Our Latest Placed Students
    </h2>
</center>


<div style="width: 400px; height: 400px; background-color:white; align-items: center;  margin: auto;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style=" width: 400px;">
        <div class="carousel-inner" style="height: 350px;width: 350px;margin: auto;">
            {% for student in students %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ student.photo.url }}" alt=""><br><br>
                <div class="card-img-overlay" style="color:red;font-weight: bolder;">
                    <span style="background-color: black;">
                        <h5 class="card-title">{{student.name}}</h5>
                        <p class="card-text">{{student.designation}} <br>{{student.company}}<br></p>
                    </span>

                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<marquee behavior="" direction="" style="color: palevioletred;"><h4>Learn the Latest Programming languages from No. 1 Training Academy in Pune & Upgrade Your Career.</h4></marquee>
{% endblock body %}